
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imghead img {
  width: 1440px;
  height: 400px;

}

.imgbody {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
  width: 6 0%;
}

.movie-poster {
  width: 100%;
  flex-wrap: wrap;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}


.movie-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 100px;
}

.movie-info h1 {
  margin: 0%;
  font-size: 2em;
  color: #ffcc00;
}

.movie-info h3 {
  margin: 5px 0 0;
  font-size: 1.2em;
  color: #ccc;
}

.circle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 0%;
  margin-right: 5%;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  justify-content: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.3s;
  padding: 0%;
}

.circle:hover {
  transform: scale(1.1);

}

.video-frame {
  position: absolute;
  top: 200px;
  left: 75%;
  width: 20%;
  height: 30%;
  border: 4px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.star {
  color: #ffcc00;
}

.rate {
  color: purple;
}

.poster-container {
  position: relative;
  display: inline-block;
}

.plus-icon {
  position: absolute;
  top: 10px;
  left: 150px;
  background-color: red;
  color: white;
  font-size: 24px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}